<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="web-author" content="S. M. Abrar Jahin">

        <meta name="description" content="Here is a precise description of my awesome webpage.">
        <meta name="robots" content="index, follow" />

        <title>@ViewData["Title"] - Asp.Net Core PostGRE - Startup Project</title>
        @Html.AntiForgeryToken()
        <environment include="Development">
            <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
            <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css">
            <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.css">
            <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css">
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="~/css/site.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only"
                  asp-fallback-test-property="position"
                  asp-append-version="true"
                  asp-fallback-test-value="absolute" />
        </environment>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Startup Project</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            @RenderBody()
            @*
                <main role="main" class="pb-3">

            </main>
                *@
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; @@ @DateTime.Now.Year - Asp.NetCore PostGRE - StartupProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

        <environment include="Development">
            <script src="~/lib/jquery/jquery.js"></script>
            <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
            <script src="~/lib/microsoft-signalr/dist/browser/signalr.js"></script>
            <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
            <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
            <script src="~/lib/qrcodejs/qrcode.js"></script>
            <script src="~/js/globalConfig.js" asp-append-version="true"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)

    </body>
</html>